name: base

on:
  push:
    branches: [ main, buildah ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  USERNAME: fj0r
  IMAGE_NAME: xy


jobs:
  build:

    runs-on: ubuntu-latest
    if: ${{ !endsWith(github.event.head_commit.message, '~') }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: fj0r
          password: ${{ secrets.GHCR_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Setup Nushell
        uses: hustcer/setup-nu@v3
        with:
          version: '0.109.1'

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            test:
              - 'images/test.nu'
            base:
              - 'images/base.nu'
            rust:
              - 'images/rust.nu'


      - name: Setup upterm session
        uses: owenthereal/action-upterm@v1
        if: contains(github.event.head_commit.message, '+test')
        with:
          ## Use the deployed Upterm server via Websocket or SSH
          upterm-server: ${{ secrets.UPTERMD_ADDR }}

      - name: test
        # if: steps.changes.outputs.base == 'true'
        if: contains(github.event.head_commit.message, '+test')
        shell: 'script -q -e -c "buildah unshare nu {0}" /dev/null'
        run: |
          overlay use ${{ github.workspace }}/images/test.nu as build
          build {
            from: 'ghcr.io/fj0r/xy:z'
            author: ${{ env.USERNAME }}
            password: ${{ secrets.GHCR_TOKEN }}
            image: ${{ env.REGISTRY }}/${{ env.USERNAME }}/${{ env.IMAGE_NAME }}
            tags: test
          }

      - name: build base
        shell: buildah unshare nu {0}
        run: |
          overlay use ${{ github.workspace }}/images/base.nu as build
          build {
            from: archlinux
            author: ${{ env.USERNAME }}
            password: ${{ secrets.GHCR_TOKEN }}
            image: ${{ env.REGISTRY }}/${{ env.USERNAME }}/${{ env.IMAGE_NAME }}
            tags: latest
          }

      - name: build rust
        shell: buildah unshare nu {0}
        run: |
          overlay use ${{ github.workspace }}/images/rust.nu as build
          build {
            author: ${{ env.USERNAME }}
            password: ${{ secrets.GHCR_TOKEN }}
            image: ${{ env.REGISTRY }}/${{ env.USERNAME }}/${{ env.IMAGE_NAME }}
            tags: rust
          }

      - name: build moon
        shell: buildah unshare nu {0}
        run: |
          overlay use ${{ github.workspace }}/images/moon.nu as build
          build {
            author: ${{ env.USERNAME }}
            password: ${{ secrets.GHCR_TOKEN }}
            image: ${{ env.REGISTRY }}/${{ env.USERNAME }}/${{ env.IMAGE_NAME }}
            tags: z
          }
